/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*@import url(http://fonts.googleapis.com/css?family=Raleway:300);*/

body {
	background-color: #00a855;
	font-family: helvetica;
}

header {
	background-color: azure;
	padding-left: 1em;
	padding-right: 1em;
	margin: 1em;
	border-radius: 0.5em;
	overflow: auto;
}

.logo {
	float: left;
	background-color: #00a855;
	margin-right: 1em; 
	margin-top: 1em;
	margin-bottom: 1em;
	border-radius: 0.5em;
}

.header_bar {
	float: left;
	position: relative;
}

.search_form {
	padding-top: 1em;
}

.login {
	padding-top: 12em;
}

.page_content {
	margin-left: 1em;
	margin-right: 1em;
	background-color: azure;
	position: relative;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-radius: 0.5em;
}

footer {
	text-align: center;
	background-color: azure;
	margin-top: 1em;
	margin-left: 1em;
	margin-right: 1em;
	border-radius: 0.5em 0.5em 0 0;
}

.hometable {
	display: block;
}

.map {
	padding-right: 0.5em;
	padding-top: 1em;
	border-radius: 0.5em;
	vertical-align: top;
}

.twitter {
	padding-left: 0.5em;
	border-left: inset;
	border-width: 1px;
	max-height: 300px;
	overflow: auto;
}

