/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Raleway:300);

body {
	width: 100%;
	height: 100%;
	font-family: Raleway;
	font-weight: 300;
	background-color: #2A6F7E;
}

.hometable {
	margin:0px;padding:10px;
	width:90%;
	border:1px solid #000000;
	background-color: lavender;
}

#homeheader {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  border-bottom-width:1px solid #000000;
  border-style: solid;
  border-bottom:1px solid #000000;
}

#divbox {
  text-align: center;

}
#moo {
  vertical-align: top;
}

#cats {
	float: right;
	position: relative;
	top: -100px;
	left: -30px;
}

#form{
	text-align: center;
	font-size: 100px;
}

.milk{
	position:relative;
	right: -200px;
}

#container {

	background: #A7E2D2;
	border: solid #79BBD2;
}

.location_details {
	display: inline-block; vertical-align: top;
}

.map {
	display: inline-block;
	padding-left: 170px
}

.centered_button {
	padding-left: 275px
}

a:link {
	text-decoration: none;
	color: #349D8A
}
a:hover {
	background-color: #A7E2D2 ;
}
 
a:visited {
	color: #349D8A;
}

